.card-list{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	position: absolute;
	top: 50px;
	/*height: 100%; */
}